<div ng-repeat="site in introSites">

  <!--Cards for viewing search results-->
  <div>
    <div class="card yellow darken-2">
      <div class="card-content white-text waves-effect waves-light">
        <span class="card-title">{{ site.name }}</span>
        <!-- <a class="waves-effect waves-light btn-large blue" ui-sref=rafter.resultProjects({reportResult:currentID.id})>More detail</a> -->
      </div>
      <!-- <a onmouseover="" style="cursor: pointer;" ng-click="setCurrentID(survey)" class="waves-effect waves-yellow" >View summary</a> -->
    </div>
  </div>
</div>
<hr />
{{ introSites }}
